Flask_Bootstrap==3.3.7.1
WTForms==2.3.3
flask_mongoengine==1.0.0
bleach==2.0.0
~lask_PageDown==0.2.2
Flask_Uploads==0.2.1
~erkzeug==0.12.2
itsdangerous==0.24
Flask_Login==0.4.0
Flask_Mail==0.9.1
Flask_Moment==0.5.1
Markdown==2.6.8
Flask_WTF==0.14.3
Flask==1.1.2
pymongo==3.11.0
~lick==7.1.2
click==7.1.2
flask_pagedown==0.3.0
Werkzeug==1.0.1
